@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Fira+Sans");
html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  letter-spacing: .5px;
  color: #d8e9ef;
  background: #454552;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  background-size: cover; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.container {
  width: 250px;
  height: 420px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  padding: 20px; }

.timer-circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.circle-box {
  pointer-events: none; }

.semi-c {
  position: absolute;
  width: 100px;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 6px; }

.left {
  top: 0;
  left: 0;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
  z-index: 1; }

.right {
  top: 0;
  left: 100px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none; }

.circle {
  border-color: #4ea1d3; }

.mask {
  border-color: #e85a71; }

.counter-box {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 250%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #e85a71; }

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 90%;
  margin: 0 10px; }

.btn-elements, .btn-box {
  display: inline-block; }

h1 {
  margin: 0 auto 10px auto;
  color: #4ea1d3; }

.message {
  height: 20px;
  margin: 10px auto 20px auto; }

.btn-box p {
  margin: 10px auto 0 auto; }

button {
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: #d8e9ef; }

button:hover, .footer i:hover, .footer a:hover {
  color: #90c0d1; }

.reset-btn {
  margin-top: 8px;
  color: #4ea1d3; }

/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70px;
  text-align: center; }
  .footer .icons {
    width: 150px;
    margin: 0 auto 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer i {
    font-size: 90%; }
  .footer p, .footer i, .footer a {
    color: #4ea1d3; }
  .footer p {
    font-size: 10px; }
  .footer a {
    text-decoration: none; }
