@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Fira+Sans");
html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  letter-spacing: .5px;
  color: #d8e9ef;
  background: #454552;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  background-size: cover; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between; }

.container {
  width: 250px;
  height: 420px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  padding: 20px; }

.timer-circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.circle-box {
  display: flex;
  position: absolute; }
  .circle-box .semi-c {
    box-sizing: border-box;
    height: 200px;
    width: 100px; }
  .circle-box .left {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px; }
  .circle-box .right {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px; }
  .circle-box .left-circle, .circle-box .right-circle {
    border: 8px solid #4ea1d3; }
  .circle-box .mask-left, .circle-box .mask-right, .circle-box .block {
    border: 8px solid #e85a71;
    position: absolute; }
  .circle-box .left-circle, .circle-box .block, .circle-box .mask-right {
    border-right: 0; }
  .circle-box .right-circle, .circle-box .mask-left {
    border-left: 0; }
  .circle-box .block, .circle-box .mask-left, .circle-box .left-circle {
    z-index: 1; }
  .circle-box .block, .circle-box .mask-left {
    left: 100px; }
  .circle-box .mask-left {
    transform-origin: left center;
    transform: rotate(0deg); }
  .circle-box .mask-right {
    transform-origin: right center;
    transform: rotate(0deg); }
  .circle-box .block {
    display: none; }
  .circle-box .handle {
    display: none; }

.counter-box {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 250%;
  display: flex;
  justify-content: space-around;
  color: #e85a71; }

.btn-container {
  display: flex;
  justify-content: space-between;
  font-size: 90%;
  margin: 0 10px; }

.btn-elements, .btn-box {
  display: inline-block; }

h1 {
  margin: 0 auto 10px auto;
  color: #4ea1d3; }

.message {
  height: 20px;
  margin: 10px auto 20px auto; }

.btn-box p {
  margin: 10px auto 0 auto; }

button {
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: #d8e9ef; }

button:hover, .footer i:hover, .footer a:hover {
  color: #90c0d1; }

.reset-btn {
  margin-top: 8px;
  color: #4ea1d3; }

/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  height: 70px;
  text-align: center; }
  .footer .icons {
    width: 150px;
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-between; }
  .footer i {
    font-size: 90%; }
  .footer p, .footer i, .footer a {
    color: #4ea1d3; }
  .footer p {
    font-size: 10px; }
  .footer a {
    text-decoration: none; }
